{% extends "dashboard_base.html" %}

{% block content %}
<div class="form-container">
    <h1 class="text-center">Seus Agendamentos</h1>
    {% if appointments %}
        <div class="cards-container" >
            {% for appointment in appointments %}
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{ appointment.service.nome }} - R$ {{ appointment.service.preco }}</h5>
                        <p class="card-text">{{ appointment.data.strftime('%d/%m/%Y') }} - {{ appointment.hora.strftime('%H:%M') }}</p>
                        <form method="POST" action="{{ url_for('cancelar_agendamento', appointment_id=appointment.id) }}">
                            <button type="submit" class="btn btn-primary btn-fullwidth">Cancelar</button>
                        </form>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p>Você não tem agendamentos.</p>
    {% endif %}
</div>
{% endblock %}
